@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 213, 213);
}

img {
    bottom: 0;
    position: absolute;
    height: 40vh;
    z-index: -1;
}

h1 {
    font-size: 1.5rem;
    padding: 1rem;
}

h1,
label,
input,
button,
output,
footer {
    display: block;
    text-align: center;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 1rem 0rem 0.5rem 0rem;
}

input,
button {
    margin: auto;
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    width: 15rem;
}

button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    margin-top: 1rem;
    padding: 0.5rem 0.7rem;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

output {
    font-size: 0.9rem;
    margin-top: 5rem;
    padding: 2rem 1rem;
}

.container {
    background-color: rgba(7, 7, 7, 0.4);
    border-radius: 0.3rem;
    max-width: 15rem;
    margin: auto;
}

.output-content {
    color: rgb(255, 255, 255);
}

footer {
    background-color: rgba(7, 7, 7, 0.4);
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer p {
    padding: 1rem;
}